@import './mixin';
$white-color: #fff;
$black-color: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: rgb(23, 23, 24);
  background-image: url(../img/background-image1.jpg);
  background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: 0 -100px;
}

h1 {
  font-size: 3rem;
}

// HEADER
header {
  @include container(50px);
  padding: 50px;
  border-radius: 20px;
  background-color: rgba(36, 35, 41, 0.3);
  display: flex;
  //   justify-content: space-between;
  color: $white-color;
  img {
    width: 300px;
    margin-right: 30px;
    border-radius: 10%;
  }
  .title {
    width: 50%;
    // border: 1px solid black;
    h1 {
      margin-bottom: 20px;
    }
    .jam {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      img {
        width: 30px;
        border: 1px solid white;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
    .button {
      width: 100px;
      padding: 5px;
      color: $white-color;
      background-color: $black-color;
      margin-right: 5px;
      border: 1px solid $white-color;
      border-radius: 20px;
      margin-bottom: 20px;
      cursor: pointer;
      &:hover {
        color: $black-color;
        background-color: $white-color;
        border: 1px solid $black-color;
      }
    }
    p {
      font-size: 1;
      line-height: 1.2;
      text-align: justify;
    }
  }
}

// MAIN
main {
  @include container(10px);
  padding: 50px;
  border-radius: 20px;
  background-color: rgba(36, 35, 41, 0.3);
  color: $white-color;
  text-transform: uppercase;
  h2 {
    margin-bottom: 10px;
  }
  .jadwal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // border: 1px solid white;
    h3 {
      padding: 0 20px;
      margin-bottom: 20px;
      text-transform: none;
    }
  }
  .button-main {
    width: 100px;
    padding: 7px;
    border-radius: 20px;
    margin-right: 5px;
    cursor: pointer;
    &:hover {
      background-color: lightskyblue;
      color: $white-color;
      border: 1px solid salmon;
    }
  }
}
